* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin-top: 30px;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  color: #1a1a1a;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-screen {
  background: linear-gradient(
    51.62deg,
    #fdf4f5 -0.94%,
    #f8eae2 33.37%,
    #faebdf 63.39%
  );
  border-radius: 16px;
  padding-top: 22px;
  margin: 0 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1733px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 902px;
  width: 100%;
  font-weight: 500;
}

.header-nav-wrapper a {
  color: #1a1a1a;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.header-nav-wrapper a:hover {
  opacity: 0.4;
}

.switch-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background: #fff;
  padding: 15px 23px;
  width: 100%;
  max-width: 135px;
  border-radius: 10px;
  cursor: pointer;
}

.log-reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: bold;
  background: #1a1a1a;
  width: 100%;
  max-width: 259px;
  padding: 8px 26px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.log-reg span {
  width: 100%;
  max-width: 175px;
  font-size: 14px;
  line-height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-login-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 408px;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  position: relative;
}

.main-screen-left {
  max-width: 764px;
  width: 100%;
  margin-top: 47px;
}

.main-screen-right {
  max-width: 719px;
  width: 100%;
  position: relative;
}

.under-header-section {
  display: flex;
  justify-content: space-between;
}

.main-screen-header {
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}

.main-screen-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  margin: 32px 0 72px 0;
}

.main-screen-girl,
.main-screen-play,
.main-screen-five {
  position: absolute;
}

.main-screen-girl {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.main-screen-five {
  top: 10%;
  right: 20%;
}

.main-screen-play {
  top: 0%;
  left: 8%;
}

.main-screen-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 556px;
  margin-bottom: 132px;
}

.main-screen-first-btn {
  padding: 20px 25px;
  width: 100%;
  max-width: 356px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-screen-second-btn {
  padding: 24px 25px;
  width: 100%;
  max-width: 185px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 22px;
  border-radius: 12px;
  font-size: 16px;
}

.button-black {
  background: #1a1a1a;
  color: #fff;
}

.button-white {
  background: #fff;
  color: #1a1a1a;
}

.circle-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background: #fff;
}

.circle-arrow img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-right {
  transform: rotate(-90deg);
}

.main-screen-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  transform: translateY(-70px);
  position: absolute;
}

.main-screen-card {
  position: relative;
  border-radius: 16px;
  padding: 30px 48px 130px 48px;
  color: #fff;
  font-weight: bold;
}

.main-screen-card p {
  max-width: 240px;
  font-size: 22px;
}

.main-screen-card img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bg-orange {
  background: #ff9e4a;
}
.bg-yellow {
  background: #fbd166;
}
.bg-blue {
  background: #6fa0ff;
}
.bg-purple {
  background: #3e51ff;
}

.about {
  margin-top: 290px;
  margin-bottom: 140px;
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-left {
  max-width: 680px;
}

.about-left h2 {
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
}

.about-left p {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  margin-top: 46px;
}

.about-bottom-wrapper {
  margin-top: 80px;
  border: 2px solid #fff2eb;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 45px 85px;
}

.about-bottom {
  max-width: 1181px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-bottom h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  max-width: 384px;
}

.about-nbr-item {
  color: #fc7704;
  display: flex;
  align-items: center;
}

.about-nbr-bold {
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  margin-right: 20px;
}

.about-nbr-reg {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  max-width: 110px;
  display: flex;
}

.library-section {
  background: linear-gradient(
    51.62deg,
    #fdf4f5 -0.94%,
    #f8eae2 33.37%,
    #faebdf 63.39%
  );
  border-radius: 16px;
  padding: 80px 0;
  margin: 0 40px;
}

.library-section-h3 {
  color: #fc7704;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
}

.lib-table-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 40px 0;
}

.lib-table-header h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  max-width: 783px;
}

.lib-table-header p {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  max-width: 374px;
}

.lib-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  margin-bottom: 80px;
}

.lib-card-item {
  background: #ffffff;
  border-radius: 16px;
  padding: 23px 30px;
  position: relative;
  display: flex;
  align-items: center;
}

.lib-card-item ul {
  padding-left: 50px;
}

.lib-card-item ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.hor-scroll {
  margin: 140px 0;
}

.hor-scroll-h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
}

.hor-scroll-cards-wrapper {
  position: relative;
  width: 100%;
  height: 370px;
  margin: 80px 0 140px 0;
}

.hor-scroll-cards {
  display: flex;
  position: absolute;
  margin-left: calc((100% - 1420px) / 2);
}

.scroll-card {
  color: #fff;
  padding: 45px 55px 20px 55px;
  width: 460px;
  border-radius: 16px;
  margin-right: 20px;
  position: relative;
}

.scroll-card img {
  margin-left: auto;
  display: block;
}

.scroll-card:last-child {
  margin-right: 0px;
}

.scroll-card:nth-child(1) {
  background: #ff9e4a;
}
.scroll-card:nth-child(2) {
  background: #fbd166;
}
.scroll-card:nth-child(3) {
  background: #6e9fff;
}
.scroll-card:nth-child(4) {
  background: #3e51ff;
}
.scroll-card:nth-child(5) {
  background: #ff9e4a;
}
.scroll-card:nth-child(6) {
  background: #f7c74c;
}

.scroll-card h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}

.scroll-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin: 20px 0 40px 0;
}

.price-section-wrapper {
  background: linear-gradient(
    51.62deg,
    #fdf4f5 -0.94%,
    #f8eae2 33.37%,
    #faebdf 63.39%
  );
  border-radius: 16px;
  margin: 0 40px;
  padding: 70px 0 80px 0;
}

.price-section h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
}

.price-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 65px 0 53px 0;
}

.price-card {
  padding: 76px 68px 58px 68px;
  background: #ffffff;
  border-radius: 16px;
  position: relative;
}

.price-card-header h4 {
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
}

.price-card-header span {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: block;
}

.price-card-price-wrapper {
  margin: 51px 0 40px 0;
}

.price-card-price {
  color: #fc7704;
  display: flex;
  align-items: flex-end;
}

.price-card-price h3 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
}

.price-card-price span {
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
  text-transform: uppercase;
}

.price-sale {
  position: absolute;
  bottom: 130px;
  right: -30px;
}

.price-card-price-star span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.price-card a {
  padding: 10px 22px;
  font-size: 14px;
  line-height: 34px;
  display: block;
}

.price-top-six {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 90%;
}

.price-top-nine {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 90%;
}

.price-section-bottom span {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
}

.what-in-price-wrapper {
  margin: 140px 0 247px 0;
}

.what-in-price h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 68px;
}

.what-in-price-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.what-in-price-card {
  padding: 268px 60px 80px 60px;
  max-width: 460px;
  border-radius: 16px;
  position: relative;
  color: #fff;
  height: 550px;
}

.what-in-yellow {
  background: radial-gradient(
      95.58% 95.85% at 66.52% 17.15%,
      #ffd568 0%,
      #f3bd31 100%
    ),
    #ffd568;
}

.what-in-blue {
  background: radial-gradient(
    124.79% 89.11% at 78.24% 10.89%,
    rgba(110, 159, 255, 0.54) 0%,
    #6e9fff 100%
  );
}

.what-in-pink {
  background: radial-gradient(
    115.19% 78.97% at 94.2% 6.81%,
    rgba(253, 167, 167, 0.58) 0%,
    #fda7a7 100%
  );
}

.what-in-price-card img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 400px;
  max-height: 340px;
}

.what-in-price h3 {
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 21px;
}

.what-in-price p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.for-whom-wrapper {
  background: linear-gradient(
    51.62deg,
    #fdf4f5 -0.94%,
    #f8eae2 33.37%,
    #faebdf 63.39%
  );
  border-radius: 16px;
  margin: 0 40px;
  padding-bottom: 140px;
}

.from-whom-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 44px 55px 38px 55px;
  position: relative;
}

.from-whom-card h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}
.from-whom-card h4,
.from-whom-card p {
  z-index: 2;
  position: relative;
}

.from-whom-card img {
  position: absolute;
  top: 0;
  right: 0;
}

.from-whom-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.for-whom-blue {
  position: absolute;
  top: -100px;
  left: -156px;
}

.for-whom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.for-whom-header img {
  position: absolute;
  right: 0;
  top: -107px;
}

.for-whom-header h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  max-width: 729px;
  margin: 62px 0 69px 0;
}

.teachers-section {
  padding: 140px 0;
}

.teachers-section h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 82px;
}

.teacher-card {
  position: relative;
  max-width: 340px;
}

.teacher-icon {
  position: absolute;
  top: 0%;
  right: 0%;
  max-width: 80px !important;
}

.teacher-photo {
  max-width: 300px !important;
  margin: 0 auto;
}

.teacher-card h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-top: 40px;
  text-align: center;
}

.teacher-card span {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin: 20px 0;
  opacity: 0.3;
  display: block;
}

.teacher-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.teachers-carousel .owl-nav {
  margin: 0;
  position: absolute;
  top: -185px;
  right: 0;
}

.lesson-example-wrapper {
  background: linear-gradient(
    51.62deg,
    #fdf4f5 -0.94%,
    #f8eae2 33.37%,
    #faebdf 63.39%
  );
  border-radius: 16px;
  margin: 0 40px;
}

.lesson-example {
  padding: 80px 0;
}

.lesson-example h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 46px;
  max-width: 835px;
}

.lesson-video-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 60px;
}

.player-wrapper {
  border: 12px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 110px 101px -109px #aeb8d3;
  width: 100%;
  max-width: 940px;
  height: 528px;
  border-radius: 16px;
}

.player-wrapper iframe {
  width: 100%;
  height: 100%;
}

.lesson-card {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(252, 119, 4, 0.1);
  box-sizing: border-box;
  border-radius: 16px;
  padding: 29px 51px 32px 34px;
  margin-bottom: 21px;
}

.lesson-card:last-of-type {
  margin-bottom: 0;
}

.lesson-card img {
  max-width: 66px;
  max-height: 66px;
  margin-right: 29px;
}

.lesson-card-text {
  max-width: 280px;
}

.lesson-card-text h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 11px;
}

.lesson-card-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.lesson-button {
  padding: 20px 23px;
  display: block;
  width: fit-content;
  display: flex;
  align-items: center;
}

.lesson-button div {
  margin-left: 16px;
}

.review-section-wrapper {
  padding: 84px 0 104px 0;
  background: linear-gradient(50.33deg, #edf3f9 0.52%, #f5f8ff 70.66%);
  border-radius: 16px;
  margin: 0 40px;
  margin-top: 60px;
}

.review-section h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  max-width: 821px;
  margin-bottom: 46px;
}

.review-section-blue {
  color: #0c24fa;
  text-decoration: underline;
}

.review-section-black {
  text-decoration: underline;
}

.review-author img {
  max-width: 80px;
}

.review-author-info img {
  max-width: 24px;
}

.review-item {
  padding: 40px 50px;
  background: #ffffff;
  border: 2px solid #f9fafd;
  box-sizing: border-box;
  border-radius: 15px;
}

.review-text {
  position: relative;
}

.review-hide-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  top: 40px;
  left: 0;
}

.review-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.review-open {
  font-weight: bold;
  font-size: 14px;
  line-height: 34px;
  color: #0c24fa;
  text-transform: uppercase;
  margin: 30px 0 42px 0;
}

.review-author {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  align-items: center;
}

.review-author-info h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.review-stars {
  display: flex;
  justify-content: space-between;
  max-width: 152px;
}

.empty-star {
  opacity: 0.3;
}

.review-cards .owl-nav {
  margin: 0;
  position: absolute;
  top: -145px;
  right: 0;
}

.question-circle {
  background: rgba(252, 119, 4, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.question-circle-line {
  width: 15px;
  height: 3px;
  background: #fc7704;
  display: block;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.line2 {
  transform: translate(-50%, -50%) rotate(90deg);
}

.line2-hide {
  opacity: 0;
}

.questions-section-wrapper {
  padding: 140px 0;
}

.questions-section-wrapper h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 65px;
}

.questions-section {
  display: flex;
  justify-content: space-between;
}

.question-header-orange {
  color: #fc7704;
}

.questions-list {
  width: 100%;
  max-width: 820px;
}

.question-item {
  padding: 32px 50px 38px 44px;
  border: 2px solid #fff2eb;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 22px;
}

.question-item:last-of-type {
  margin-bottom: 0px;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.question-header p {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  max-width: 598px;
}

.question-text {
  display: none;
  margin-top: 24px;
}

.orange {
  color: #fc7704;
}

.question-photo {
  max-height: 594px;
}

.founder-section-wrapper {
  background: linear-gradient(50.33deg, #edf3f9 0.52%, #f5f8ff 70.66%);
  border-radius: 16px;
  margin: 0 40px;
  padding: 72px 0 105px 0;
  margin-bottom: 36px;
}

.founder-section h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 45px;
}

.founder-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.founder-content-left-wrapper {
  position: relative;
}

.founder-content-left {
  background: #ffffff;
  box-shadow: -1px 1px 20px #e9f0fd;
  border-radius: 7px;
  padding: 34px 42px 84px 43px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.founder-content-left-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: -1px 1px 20px #e9f0fd;
  border-radius: 7px;
  left: 0%;
  top: 0%;
  transform: rotate(-5deg);
}

.founder-content-left img {
  margin-bottom: 35px;
}

.founder-content-left h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.founder-content-left p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: rgba(26, 26, 26, 0.47);
  max-width: 187px;
  margin-top: 18px;
  margin: 0 auto;
}

.founder-content-right {
  max-width: 701px;
  position: relative;
}

.founder-content-right::before {
  content: url(../img/backTicks.svg);
  position: absolute;
  top: -30px;
  left: -38px;
}

.founder-content-right::after {
  content: url(../img/backTicks.svg);
  position: absolute;
  bottom: 11px;
  right: 22px;
  transform: rotate(180deg);
}

.founder-content-right p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
}

.founder-content-right b {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.form-section-wrapper {
  background: linear-gradient(
    51.62deg,
    #f9e6e5 -0.94%,
    #fbdccc 33.37%,
    #ffdec4 63.39%
  );
  mix-blend-mode: normal;
  border-radius: 16px;
  margin: 0 40px;
  margin-bottom: 40px;
  position: relative;
}

.form-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-section-left {
  padding: 73px 0;
  max-width: 577px;
}

.form-section-left h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 23px;
}

.form-section-left span {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.57;
  max-width: 462px;
  margin-top: 40px;
  display: block;
}

.form-section p {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 62px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  max-width: 458px;
}

.footer-form a {
  padding: 8px 142px;
  line-height: 38px;
}

.form-input {
  background: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 17px 127px;
  line-height: 35px;
  width: 100%;
}

.form-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  opacity: 0.3;
}
.form-input::-moz-placeholder {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  opacity: 0.3;
} /* Firefox 19+ */
.form-input:-moz-placeholder {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  opacity: 0.3;
} /* Firefox 18- */
.form-input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  opacity: 0.3;
}

.switch-lang-wrapper-input {
  background: 0;
  padding: 0;
  width: 100%;
  max-width: 49px;
  border-radius: 0;
  position: absolute;
  top: 26px;
  left: 31px;
  cursor: pointer;
  z-index: 2;
}

.input-form-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.arrowUp {
  position: absolute;
  bottom: 32px;
  right: 41px;
  cursor: pointer;
}

footer {
  background: #1a1a1a;
  padding: 40px 0 24px 0;
}

.footer-row-head {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 33px;
}

.footer-row-head-left {
  width: 100%;
  max-width: 779px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-row-head-right {
  width: 100%;
  max-width: 243px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-row-border {
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

.footer-row-pay {
  padding: 23px 0;
  max-width: 495px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-row-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 33px 0;
  max-width: 1147px;
}

.footer-row-links a {
  color: #ffffff;
  opacity: 0.4;
  text-decoration: underline;
  font-size: 14px;
  line-height: 17px;
}

.footer-row-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-row-footer p {
  color: #ffffff;
  opacity: 0.4;
  font-size: 14px;
  line-height: 17px;
}

.lesson-button-medium {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1120px;
  }
  h1,
  h2 {
    font-size: 48px !important;
    line-height: 59px !important;
  }
  .header-nav-wrapper {
    max-width: 794px;
  }
  .header-login-wrapper {
    max-width: 359px;
  }
  header {
    max-width: 1329px;
    margin-bottom: 62px;
  }
  .header-nav-wrapper a {
    font-size: 15px;
    line-height: 22px;
  }
  .main-screen-right {
    position: absolute;
    right: 41px;
    bottom: 0;
    z-index: 0;
    max-width: fit-content;
  }
  .main-screen-left {
    position: relative;
    z-index: 1;
  }
  .main-screen-girl {
    max-width: 407px;
  }
  .main-screen-circles {
    max-width: 495px;
  }
  .main-screen-header {
    max-width: 670px;
  }
  .main-screen-text {
    max-width: 558px;
    margin: 20px 0 29px 0;
    font-size: 20px;
    line-height: 32px;
  }
  .main-screen-card img {
    max-width: 164px;
  }
  .main-screen-card {
    padding: 25px 51px 100px 36px;
  }
  .main-screen-card p {
    font-size: 16px;
    line-height: 22px;
  }
  .main-screen {
    margin: 0 20px;
    padding-bottom: 55px;
  }
  .switch-lang {
    padding: 5px 12px;
    max-width: 109px;
  }
  .switch-lang span {
    font-size: 14px;
    line-height: 24px;
  }
  .log-reg {
    padding: 5px 22px;
    max-width: 236px;
  }
  .log-reg span {
    font-size: 13px;
    line-height: 24px;
    max-width: 163px;
  }
  .main-screen-first-btn span,
  .main-screen-second-btn span {
    font-size: 14px;
    line-height: 32px;
  }
  .main-screen-second-btn span {
    width: 100%;
  }
  .main-screen-first-btn {
    padding: 13px 16px 14px 23px;
    max-width: 322px;
  }
  .main-screen-second-btn {
    padding: 13px 21px 14px 21px;
    max-width: 157px;
  }
  .main-screen-btns {
    max-width: 494px;
  }
  .about-left p {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin-top: 26px;
  }
  .about-right img {
    max-width: 554px;
  }
  .about {
    margin-top: 150px;
    margin-bottom: 118px;
  }
  .about-bottom-wrapper {
    margin-top: 50px;
    padding: 20px 102px 24px 54px;
  }
  .about-bottom h2 {
    font-size: 24px !important;
    line-height: 29px !important;
  }
  .about-nbr-bold {
    font-size: 48px;
    line-height: 59px;
  }
  .about-nbr-reg {
    font-size: 18px;
    line-height: 24px;
  }
  .library-section {
    padding: 50px 0 70px 0;
    margin: 0 20px;
  }
  .library-section h3 {
    font-size: 18px;
    line-height: 34px;
  }
  lib-table-header h2 {
    font-size: 42px !important;
    line-height: 52px !important;
    max-width: 641px;
  }
  .lib-table-header p {
    font-size: 20px;
    line-height: 32px;
  }
  .lib-table-header {
    margin: 35px 0;
  }
  .lib-table {
    grid-column-gap: 15px;
    grid-row-gap: 12px;
    margin-bottom: 54px;
  }
  .lib-card-item img {
    max-width: 97px;
  }
  .hor-scroll h2 {
    font-size: 42px !important;
    line-height: 52px !important;
  }
  .hor-scroll {
    margin: 95px 0 113px 0;
  }
  .hor-scroll-cards-wrapper {
    height: 340px;
    margin: 60px 0 0px 0;
  }
  .hor-scroll-cards {
    margin-left: calc((100% - 1120px) / 2);
  }
  .scroll-card h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .scroll-card p {
    font-size: 15px;
    line-height: 22px;
    margin: 20px 0 30px 0;
  }
  .scroll-card img {
    max-width: 149px;
  }
  .scroll-card {
    padding: 35px 44px 31px 47px;
    margin-right: 14px;
    max-width: 360px;
  }
  .price-section-wrapper {
    margin: 0 20px;
    padding: 70px 0 70px 0;
  }
  .price-section h2 {
    font-size: 42px !important;
    line-height: 52px !important;
  }
  .price-cards {
    margin: 50px 0 40px 0;
  }
  .price-card {
    padding: 60px 73px 45px 49px;
    width: 100%;
    max-width: 343px;
  }
  .price-card-header span {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 9px;
  }
  .price-card-header h4 {
    font-size: 28px;
    line-height: 34px;
  }
  .price-card-price-wrapper {
    margin: 39px 0 34px 0;
  }
  .price-card-price h3 {
    font-size: 42px;
    line-height: 52px;
  }
  .price-card-price span {
    font-size: 24px;
    line-height: 41px;
  }
  .price-card-price-star span {
    font-size: 14px;
    line-height: 24px;
  }
  .price-text-none {
    display: none;
  }
  .price-card a {
    padding: 3px 27px;
    font-size: 14px;
    line-height: 34px;
    display: block;
    width: fit-content;
    font-weight: bold;
  }
  .price-sale {
    bottom: 34px;
    right: -30px;
    max-width: 93px;
  }
  .price-section-bottom span {
    font-size: 20px;
    line-height: 32px;
    max-width: 820px;
    display: block;
  }
  .what-in-price-wrapper {
    margin: 95px 0 108px 0;
  }
  .what-in-price h2 {
    font-size: 42px !important;
    line-height: 52px !important;
    margin-bottom: 51px;
  }
  .what-in-price-card img {
    max-width: 283px;
  }
  .what-in-price h3 {
    font-size: 28px;
    line-height: 34px;
  }
  .what-in-price p {
    font-size: 18px;
    line-height: 25px;
  }
  .what-in-price-card {
    padding: 209px 47px 102px 46px;
    max-width: 360px;
    height: 510px;
  }
  .for-whom-wrapper {
    margin: 0 20px;
    padding-bottom: 80px;
  }
  .for-whom-blue {
    top: -80px;
    left: -103px;
  }
  .for-whom-header h2 {
    font-size: 42px !important;
    line-height: 52px !important;
    margin: 100px 0 60px 0;
    max-width: 510px;
  }
  .for-whom-header img {
    top: -42px;
    max-width: 568px;
  }
  .from-whom-cards {
    grid-column-gap: 14px;
  }
  from-whom-card {
    padding: 44px 39px 55px 42px;
  }
  .from-whom-card h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    max-width: 230px;
  }
  .from-whom-card p {
    font-size: 14px;
    line-height: 24px;
  }
  .teachers-section {
    padding: 95px 0 121px 0;
  }
  .teachers-section h2 {
    font-size: 42px !important;
    line-height: 52px !important;
    max-width: 589px;
    margin-bottom: 70px;
  }
  .owl-nav button img {
    max-width: 70px;
  }
  .teachers-carousel .owl-nav {
    top: -175px;
  }
  .teacher-photo {
    max-width: 220px !important;
  }
  .teacher-icon {
    right: 12px;
    max-width: 60px !important;
  }
  .teacher-card h4 {
    font-size: 16px !important;
    line-height: 22px !important;
    margin-top: 30px;
  }
  .teacher-card span {
    margin: 15px 0;
    font-size: 15px;
    line-height: 22px;
  }
  .teacher-card p {
    font-size: 14px;
    line-height: 24px;
  }
  .lesson-example {
    padding: 53px 0 61px 0;
  }
  .lesson-example-wrapper {
    margin: 0 20px;
  }
  .lesson-example h2 {
    font-size: 42px !important;
    line-height: 52px !important;
    max-width: 620px;
  }
  .player-wrapper {
    max-width: 736px;
    height: 413px;
  }
  .lesson-card-text h4 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 6px;
  }
  .lesson-card-text p {
    font-size: 14px;
    line-height: 24px;
  }
  .lesson-card img {
    max-width: 44px;
    max-height: 44px;
    margin-right: 26px;
  }
  .lesson-card {
    padding: 22px 27px 24px 22px;
    margin-bottom: 18px;
    max-width: 360px;
  }
  .lesson-button-medium {
    display: flex;
  }
  .lesson-button-large {
    display: none;
  }
  .lesson-button div {
    margin-left: 0;
    margin-right: 15px;
  }
  .review-section-wrapper {
    padding: 106px 0;
    margin: 0 20px;
    margin-top: 50px;
  }
  .review-section h2 {
    font-size: 42px !important;
    line-height: 52px !important;
    max-width: 639px;
    margin-bottom: 46px;
  }
  .review-cards .owl-nav {
    top: -120px;
  }
  .review-text p {
    font-size: 14px;
    line-height: 24px;
  }
  .review-open {
    font-size: 14px;
    line-height: 34px;
    margin: 30px 0;
  }
  .review-author-info h4 {
    font-size: 18px;
    line-height: 24px;
  }
}
